<link rel="stylesheet" href="/vendor/toastr/css/toastr.min.css">

{{> welcome from='Admins' to='List'}}
{{> notifications}}
<div></div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Admin accounts management</h4>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table header-border table-hover verticle-middle" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            {{#each accounts}}
                            <tr>
                                <td>{{username}}</td>
                                <td>{{firstName}}</td>
                                <td>{{lastName}}</td>
                                <td>{{email}}</td>
                                <td>{{phone}}</td>
                                <td><span id="{{_id}}"
                                {{#if (equals status 'banned')}}class="badge badge-danger"
                                {{else}}class="badge badge-success"{{/if}}>{{status}}</span></td>
                                <td>
                                    <button type="button"
                                    data-admin-id="{{_id}}" data-admin-name="{{username}}"
                                    {{#if (equals status 'banned')}}
                                        class="toastr-info-top-right btn btn-outline-success">Unban
                                    {{else}}
                                        class="toastr-info-top-right btn btn-outline-danger">Ban
                                    {{/if}}
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    {{> pagination}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/toastr/js/toastr.min.js"></script>
<script src="/js/ban-admin.js"></script>