<link rel="stylesheet" href="/vendor/toastr/css/toastr.min.css">

{{> welcome from='Users' to='List'}}
{{> notifications}}
<div></div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">User accounts management</h4>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                        Entries per page
                    </button>
                    <div class="dropdown-menu" x-placement="top-start"
                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -107px, 0px);">
                        {{#each options}}
                            <a class="dropdown-item {{#if (equals this ../itemPerPage)}}active{{/if}}" href="?itemPerPage={{this}}">{{this}}</a>  
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table header-border table-hover verticle-middle" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Username</th>
                                <th>First Name</th>
                                <th>Last Name</th>
                                <th>Email</th>
                                <th>Phone</th>
                                <th>Status</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            {{#each accounts}}
                            <tr>
                                <td>{{username}}</td>
                                <td>{{firstName}}</td>
                                <td>{{lastName}}</td>
                                <td>{{email}}</td>
                                <td>{{phone}}</td>
                                <td><span id="{{_id}}"
                                {{#if (equals status 'banned')}}class="badge badge-danger"
                                {{else}}class="badge badge-success"{{/if}}>{{status}}</span></td>
                                <td>
                                    <button type="button"
                                    data-user-id="{{_id}}" data-user-name="{{username}}"
                                    {{#if (equals status 'banned')}}
                                        class="toastr-info-top-right btn btn-outline-success">Unban
                                    {{else}}
                                        class="toastr-info-top-right btn btn-outline-danger">Ban
                                    {{/if}}
                                    </button>
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    {{> pagination}}
                </div>
            </div>
        </div>
    </div>
</div>
<script src="/vendor/toastr/js/toastr.min.js"></script>
<script src="/js/ban-user.js"></script>