{{> welcome from='Users' to='List'}}
{{> notifications}}
<div></div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">User accounts management</h4>
                <div class="dropdown">
                    <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown"
                        aria-expanded="false">
                        Entries per page
                    </button>
                    <div class="dropdown-menu" x-placement="top-start"
                        style="position: absolute; will-change: transform; top: 0px; left: 0px; transform: translate3d(0px, -107px, 0px);">
                        {{#each options}}
                            <a class="dropdown-item {{#if (equals this ../itemPerPage)}}active{{/if}}" href="?itemPerPage={{this}}">{{this}}</a>  
                        {{/each}}
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="table-responsive">
                    <table class="table header-border table-hover verticle-middle" style="min-width: 845px">
                        <thead>
                            <tr>
                                <th>Username</th>
                                {{!-- <th>First Name</th>
                                <th>Last Name</th> --}}
                                <th>Email</th>
                                {{!-- <th>Phone</th> --}}
                                <th>Status</th>
                                <th>Control</th>
                            </tr>
                        </thead>
                        <tbody style="color: black;">
                            {{#each accounts}}
                            <tr>
                                <td>{{username}}</td>
                                {{!-- <td>{{firstName}}</td>
                                <td>{{lastName}}</td> --}}
                                <td>{{email}}</td>
                                {{!-- <td>{{phone}}</td> --}}
                                <td>{{status}}</td>
                                <td>
                                    <a href="/users/{{_id}}">
                                        <button type="button" class="btn btn-outline-primary">View</button>
                                    </a>
                                    {{#if (equals status 'banned')}}
                                    <a href="/users/{{_id}}/unban">
                                        <button type="button" class="btn btn-outline-success">Unban</button>
                                    </a>
                                    {{else}}
                                    <a href="/users/{{_id}}/ban">
                                        <button type="button" class="btn btn-outline-danger">Ban</button>
                                    </a>
                                    {{/if}}
                                </td>
                            </tr>
                            {{/each}}
                        </tbody>
                        <tfoot>
                        </tfoot>
                    </table>
                    {{> pagination}}
                </div>
            </div>
        </div>
    </div>
</div>