<div class="pt-4 border-bottom-1 pb-4 profile-personal-info">
    <h4 class="text-primary mb-4">User Information</h4>
    {{!-- <div class="row mb-4">
        <div class="col-3">
            <h5 class="f-w-500">Name <span class="pull-right">:</span>
            </h5>
        </div>
        <div class="col-9"><span>{{firstName}} {{lastName}}</span>
        </div>
    </div> --}}
    {{#with user}}        
    <div class="row mb-4">
        <div class="col-3">
            <h5 class="f-w-500">Username <span class="pull-right">:</span>
            </h5>
        </div>
        <div class="col-9"><span>{{username}}</span>
        </div>
    </div>
    <div class="row mb-4">
        <div class="col-3">
            <h5 class="f-w-500">Email <span class="pull-right">:</span>
            </h5>
        </div>
        <div class="col-9"><span>{{email}}</span>
        </div>
    </div>
    {{/with}}
    {{!-- <div class="row mb-4">
        <div class="col-3">
            <h5 class="f-w-500">Phone <span class="pull-right">:</span>
            </h5>
        </div>
        <div class="col-9"><span>{{phone}}</span>
        </div>
    </div> --}}
</div>